@font-face {
    font-family: openDyslexic;
    src: url(../assets/OpenDyslexic-Regular.otf);
  }

*{
    margin:0;
    padding: 0;
}

body{
    background-color: #DCC8A0;
    background-image: url("../assets/tile.png");
}

h1, h2, header nav ul{
    padding: 0.3em;
}

h1, h2{
    text-align: center;
    color: white;
}

h1{
    background-color: #855535cc;
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5em;
}

h2{
    background-color: #A97C5Fcc;
    font-family:  'Caveat', cursive;
    font-size: 2em;
}

#navigator{
    background-color: #A97C5F99;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family:  'Caveat', cursive;
}

#navigator li{
    background-color: #DCC8A055;
    border-radius: 0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#navigator li:hover{
    cursor: pointer;
    background-color: #DCC8A0aa;
}

button{
    background-color: #DCC8A055;
    border: solid 2px #855535cc;
    border-radius: 3px;
    padding: 0.3em;
    font-family: "openDyslexic", cursive;
    margin-left: 0.3em;
}

button:hover{
    background-color: #85553599;
    border: solid 2px #855535;
    color: white;
    cursor: pointer;
}

#accessibility{
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "openDyslexic", cursive;
}